.downloadAppContainer {
  flex-direction: row;
  justify-content: center;
  padding-top: 9rem;
  padding-bottom: 9rem;
}

.downloadAppContainer > div > h2 {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 6rem;
  line-height: 7.2rem;
  text-align: center;
}
.downloadAppContainerImage {
  position: relative;
  width: 25rem;
  height: 50rem;
}

.downloadAppContainerImage::before {
  content: "";
  background: linear-gradient(228.8deg, #cc7d16 0%, #fdec24 101.3%);
  position: absolute;
  height: 80%;
  width: 70%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: -1;
  filter: blur(100px);
}

.banner__btn__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 5.2rem;
  width: 18.1rem;
  margin: 4rem 0 0 0;
}

.banner__btn__wrapper > a {
  background: linear-gradient(228.8deg, #cc7d16 0%, #fdec24 101.3%);

  cursor: pointer;
  color: #000000;
  font-family: var(--secondary-font);
  font-weight: 500;
  height: 100%;
  width: 100%;
  z-index: 2;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  /* border: 1px solid #fff; */
}

.banner__btn__wrapper > a:hover {
  background: linear-gradient(8.8deg, #cc7d16 0%, #fdec24 -101.3%);
  color: #000 !important;
}

.banner__btn__overlay {
  position: absolute;
  top: -10%;
  left: -3%;
  right: -3%;
  bottom: -10%;
  border: 1px solid #f5f5f5;
  /* clip-path: polygon(
    20% 0%,
    100% 0%,
    100% 20%,
    100% 80%,
    80% 100%,
    0% 100%,
    0% 80%,
    0% 20%
  ); */
  z-index: 5;
  background-color: transparent;
  pointer-events: none;
}

.banner__btn__overlay {
  position: absolute;
  top: -10%;
  left: -3%;
  right: -3%;
  bottom: -10%;
  border: 1px solid #f5f5f5;
  /* clip-path: polygon(
    20% 0%,
    100% 0%,
    100% 20%,
    100% 80%,
    80% 100%,
    0% 100%,
    0% 80%,
    0% 20%
  ); */
  z-index: 5;
  background-color: transparent;
  pointer-events: none;
}

.downloadLogo {
  position: relative;
  width: 23.9rem;
  height: 8.5rem;
  margin: 1.1rem 0 0rem -3rem;
}

.downloadAppContainerText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10rem;
}

@media screen and (max-width: 660px) {
  .downloadAppContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 9rem;
    width: 100%;
  }
  .downloadAppContainerText {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0rem;
    margin-top: 2rem;
  }

  .downloadLogo {
    position: relative;
    width: 20.2rem;
    height: 8.1rem;
    margin: 0rem 0 1rem 0;
  }
  .banner__btn__wrapper {
    margin: 0rem 0 0 0;
  }
}
