.audio{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 2px;
    z-index: 99;
    width: 178px;
    background: linear-gradient(228.8deg, #cc7d16 0%, #fdec24 101.3%);
    margin: 0 auto;
    border: 1px #fff solid;
    border-radius: 15px;
    color: #000;
}

.audio_inner{
    position: relative;
    padding: 1px 5px 1px 65px;
    line-height: 35px;
    color: #000;
    text-transform: capitalize;
    border-radius: 15px;
    overflow: hidden;
    font-size: 15px;
    font-weight: 500;
    border: 3px solid black;
    font-family:  Oswald;
}

.audio .audio_inner button{
    position: absolute;
    text-align: center;
    padding: 0 0 0 7px;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50px;
    border: 0;
    border-right: 1px black solid;
    background: transparent;
    color: #000;
   
}
.audio .audio_inner button img{
    padding: 10px;
}

@media screen and (max-width: 769px){
.audio{
    position: fixed;
    left: -90%;
    /* right: 0; */
    bottom: 50%;
    z-index: 10;
    width: 116px;
    background: linear-gradient(228.8deg, #cc7d16 0%, #fdec24 101.3%);
    /* margin: 0 auto; */
    border: 2px #fff solid;
    border-radius: 15px;
    color: #000;
    rotate: 90deg;
}

.audio_inner{
    position: relative;
    padding: 0px 0px 0px 28px;
    line-height: 20px;
    color: #000;
    text-transform: capitalize;
    border-radius: 15px;
    overflow: hidden;
    font-size: 12px;
    font-weight: 600;
    border: 3px solid black;
    font-family: Oswald;
    text-align: center;
}
.audio .audio_inner button{
    position: absolute;
    text-align: center;
    padding: 0px 0 0 7px;
    left: 0;
    top: 0;
    bottom: 0;
    width: 30px;
    border: 0;
    border-right: 1px black solid;
    background: transparent;
    color: #000;
   
}
}
/* .d_none{
    display: none;
} */